body {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin:0px;
    background-color:#222831;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;

}

.header, .footer {

    font-size: 36px;
    color: #EEEEEE;
    text-align: center;
    background-color: #393E46;

}

.main {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;

}

.footer {

    
    bottom:0;
    width:100%;
    position:absolute;
    padding: 10px 0px;

}

#gridContainer {

    display:flex;
    margin-bottom: 5%;
    flex-wrap:wrap;
    width:600px;
    height:600px;
    flex: 0 0 auto;
    border: 10px solid #00ADB5;
    border-radius:10px;

}

.gridElement {

    background-color:#EEEEEE;

}

button, .colorBox {

    margin: 10px;
    padding: 10px;
    background-color: #00ADB5;
    border: 2px solid #EEEEEE;
    border-radius: 10px;
    font-size:12px;
    font-family:'Courier New', Courier, monospace;
    color: #222831;

}

.colorBox {

    padding:0px;
    padding-left:10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

#colorSelector {

    padding:1px;
    margin:10px;

}

.left {

    display: flex;
    flex-direction: column;

}

