body {

    display: flex;
    justify-content: center;

}

#gridContainer {

    display:flex;
    flex: auto;
    flex-wrap:wrap;
    width:400px;
    height:400px;
    flex: 0 0 auto;
    justify-content: center;
    border: 2px solid black;

}

.gridElement {

    background-color:white;

}

button, .colorBox {

    margin: 10px;
    padding: 10px;
    background-color: lightblue;
    border: 2px solid;
    border-radius: 4px;

}

.colorBox {

    padding:0px;
    padding-left:10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;

}

#colorSelector {

    padding:1px;
    margin:10px;

}

.left {

    display: flex;
    flex-direction: column;

}

